{% extends 'qapuas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Produk Dashboard{% endblock %}
{% block title_page %}Produk Dashboard{% endblock %}
{% block profil_nav %}active{% endblock %}

{% block Custom_CSS %}
    <link rel="stylesheet" href="{% static "/admin/css/custom.css" %}">
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">{{nama_model}}</h2>
            </header>
            <div class="card-body">
                <form class="form-horizontal form-bordered" action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">                        
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            {% csrf_token %}
                            {{form.media}}
                            {{form|crispy}}
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="form-group row">                        
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 text-right">
                            <input type="submit" value="{{nama_model}}" class="btn btn-lg btn-primary">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}