{% extends 'base.html' %}
{% block title %}{{ pages.title }}{% endblock %}
{% block content %}

    <div role="main" class="main">
        <section class="page-header page-header-modern bg-color-primary page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>{{ pages.title }}</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'category_detail' pages.category.slug %}">{{ pages.category }}</a></li>
                            <li class="active">{{ pages.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col py-4">                
                    <p>{{ pages.isi|safe }}</p>
                </div>
            </div>

        </div>
    </div>

    {% include "widgets/intro_produk.html" %}

{% endblock content %}