{% load static %}
<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 150, 'bottom': 50}}">
    <h5 class="font-weight-bold">Kategori</h5>
    <ul class="nav nav-list flex-column mb-5">
    {% for cat in menu_pages_category %} 
        {%if cat.slug == view.kwargs.category_slug%}
        <li class="nav-item"><a class="nav-link active" href="{% url 'u_pages_list_by_cat' cat.slug %}">{{ cat.title }}</a></li>
        {%elif cat.slug == view.kwargs.slug%}
        <li class="nav-item"><a class="nav-link active" href="{% url 'u_pages_list_by_cat' cat.slug %}">{{ cat.title }}</a></li>
        {%else%}
        <li class="nav-item"><a class="nav-link" href="{% url 'u_pages_list_by_cat' cat.slug %}">{{ cat.title }}</a></li>
        {%endif%}
    {% endfor %}
    </ul>
</aside>