{% load static %}
<section class="appear-animation" data-appear-animation="fadeInUpShorter">
    <section class="section-default section-footer">
        <div class="container">
            <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="col-lg-6">
                    <div class="recent-posts mb-5">
                        <h2 class="font-weight-normal text-6 mb-4">Post <strong class="font-weight-extra-bold">Terbaru</strong></h2>
                        <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">15</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">14</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">13</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">12</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">11</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">10</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a href=#>H4 berita</a></h4>
                                                <p class="pr-4 mb-0">Data Berfungsi Penting dalam Implementasi Program Kerja</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">What</strong> Client’s Say</h2>
                    <div class="row">
                        <div class="owl-carousel owl-theme dots-title dots-title-pos-2 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true}">
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-secondary">
                                        <blockquote>
                                            <p class="mb-0">Data Berfungsi Penting dalam Implementasi Program Kerja</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="{% static "images/contoh/kasi.jpg" %}" class="rounded-circle" alt="">
                                            </div>
                                            <p><strong>John Doe</strong><span>Okler</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-primary">
                                        <blockquote>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="{% static "images/contoh/kasi.jpg" %}" class="rounded-circle" alt="">
                                            </div>
                                            <p><strong>John Doe</strong><span>Okler</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>