<div class="home-intro" id="home-intro">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>
                    Tetaplah Menggunakan masker untuk mengurangi penyebaran <span class="highlighted-word text-color-primary font-weight-semibold text-5">Virus Corona</span>
                    <span>Informasi data terupdate mengenai Pandemik Covid-19.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="get-started text-left text-lg-right">
                    <a href="#" class="btn btn-quaternary btn-lg text-3 font-weight-semibold px-4 py-3">Data Covid-19</a>
                    <div class="learn-more">atau <a href="/">Kunjungi BNPB</a></div>
                </div>
            </div>
        </div>

    </div>
</div>