<section class="section section-primary border-top-0 mb-0">
    <div class="container">
        <div class="row counters counters-sm counters-text-light">
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="icons icon-graph text-color-dark"></i>
                    <strong data-to="690">0</strong>
                    <label class="opacity-5 text-4 mt-1">Jumlah Penduduk</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="icons icon-user text-color-dark"></i>
                    <strong data-to="209">0</strong>
                    <label class="opacity-5 text-4 mt-1">Kepala Keluarga</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                <div class="counter">									
                    <i class="icons icon-badge text-color-dark"></i>
                    <strong data-to="228">0</strong>
                    <label class="opacity-5 text-4 mt-1">Siswa Sekolah</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter">
                    <i class="icons icon-cup text-color-dark"></i>
                    <strong data-to="53" data-append="+">0</strong>
                    <label class="opacity-5 text-4 mt-1">Kegiatan Desa</label>
                </div>
            </div>
        </div>
    </div>
</section>