{% load static %}
<div class="row text-center mt-15">
    <div class="container">
        <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <a href="https://kalbarprov.go.id/" target="_blank" class="text-decoration-none"><img class="img-fluid" src="{% static "images/contoh/logo-kalbar.png" %}" alt=""></a>
            </div>
            <div>
                <a href="https://www.kemendesa.go.id/" target="_blank" class="text-decoration-none"><img class="img-fluid" src="{% static "images/contoh/logo-kemendesa.png" %}" alt=""></a>
            </div>
            <div>
                <a href="https://www.lapor.go.id/" target="_blank" class="text-decoration-none"><img class="img-fluid" src="{% static "images/contoh/logo-lapor.png" %}" alt=""></a>
            </div>
            <div>
                <a href="https://sipemandu.kemendesa.go.id/form" target="_blank" class="text-decoration-none"><img class="img-fluid" src="{% static "images/contoh/logo-sipemandu.png" %}" alt=""></a>
            </div>
        </div>
    </div>
</div>