<div class="container py-2">
    <div class="row">
        <div class="col">
            <section class="call-to-action with-borders with-button-arrow mb-5">
                <div class="col-sm-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h3>Produk <strong class="font-weight-extra-bold">Unggulan</strong> desa langsung dari <strong class="font-weight-extra-bold">Sumbernya</strong></h3>
                        <p class="mb-0">Berbagai Produk <strong class="font-weight-extra-bold">Terbaik</strong> dengan harga Terbaik</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a href="/produk/" target="_blank" class="btn btn-modern text-2 btn-quaternary">Produk</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="left: 100%; top: -32px;"></span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>