{% load static %}
<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 150, 'bottom': 50}}">
    <h5 class="font-weight-bold">Kategori</h5>
    <ul class="nav nav-list flex-column mb-5">
    {% for cat in category_list %} 
        {%if cat.slug == view.kwargs.category_slug%}
        <li class="nav-item"><a class="nav-link active" href="{% url 'by_cat_list' cat.slug %}">{{ cat.title }}</a></li>
        {%elif cat.slug == view.kwargs.slug%}
        <li class="nav-item"><a class="nav-link active" href="{% url 'by_cat_list' cat.slug %}">{{ cat.title }}</a></li>
        {%else%}
        <li class="nav-item"><a class="nav-link" href="{% url 'by_cat_list' cat.slug %}">{{ cat.title }}</a></li>
        {%endif%}
    {% endfor %}
    </ul>

    <h5 class="font-weight-bold pt-2 mb-4">Tags</h5>
    <div class="mb-3 pb-1">
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">design</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">brands</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">video</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">business</span></a>
        <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">travel</span></a>
    </div>

</aside>